@page "/signUp"
@using PM_GasWaterFication.Models.RazorComponents
@using PM_GasWaterFication.MongoDB
@inject NavigationManager NavigationManager



<div class="content">
   
    <div class="cardSign">
         <p class="pHeader"> SignUp </p>
         @* <p class="pHeader"> @selectRole</p> *@
         <div class="rowCard">
             <p>Роль</p>
             <select @bind="selectRole">
                 <option  value=@itemRole1>Заказчик</option>
                 <option value=@itemRole2>Проектирощик</option>
                 <option value=@itemRole3>Застройщик</option>
                
             </select>
         </div>
         
         <div class="rowCard">
             <p>FName</p>
             <input @bind-value="@itemFName"/>
         </div>
         
         <div class="rowCard">
             <p>LName</p>
             <input @bind-value="@itemLName"/>
         </div>

         <div class="rowCard">
            <p>Email</p>
            <input @bind-value="@itemEmail"/>
        </div>
        
        <div class="rowCard">
            <p>Login</p>
            <input @bind-value="@itemLogin"/>
        </div>
        
        <div class="rowCard">
            <p>Password</p>
            <input @bind-value="@itemPassword"/>
        </div>
        
        <button class="btnSing" onclick="@isValidate">Sign up</button>
        
         <Message Text="@msgText"></Message>
         
    </div>
</div>



@code {
    String itemRole1 = "Заказчик";
    String itemRole2 = "Проектирощик";
    String itemRole3 = "Застройщик";
    
    String itemFName = "";
    String itemLName = "";
    String itemEmail = "";
    String itemLogin = "";
    String itemPassword = "";
    
    String selectRole="Y";

    User user = new User();

    String msgText = "";
    
    public void isValidate()
    {
        if (itemFName != "" && itemLName != "" && itemEmail != "" && itemLogin != "" && itemPassword != "")
        {
            isUser();
            CreateAccount();
            NavigationManager.NavigateTo("signIn");
        }
        else
        {
            msgText = "something wrong";
        }
        
    
        
    }

    public void isUser()
    {
        switch (selectRole)
        {
            case "Заказчик":
                user = new Client();
                
                break;
                
            case "Проектирощик":
                user = new Designer();
                break;
                
            case "Застройщик":
                user = new Builder();
                break;
        }
    }

    public void CreateAccount()
    {
        user.FName = itemFName;
        user.LName = itemLName;
        user.Login = itemLogin;
        user.Password = itemPassword;
        user.Role = selectRole;
        user.Email = itemEmail;

        MongoDBAction.AddToDatabase(user);
    }
}
